[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/IlkinDigital/glfw.git
[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/IlkinDigital/imgui.git
